Classifier_Models/*
Dataset_Handler/*
Face_Detector/__pycache__/*
Face_Detector/Hog/__pycache__/*
Face_Detector/Viola_and_jones/__pycache__/*
__pycache__/*
__pycache__/calculate_features.cpython-38.pyc
__pycache__/classifiers.cpython-38.pyc
__pycache__/constants.cpython-38.pyc
__pycache__/emotion_detector.cpython-38.pyc
__pycache__/face_detector.cpython-38.pyc
__pycache__/facial_points_detector.cpython-38.pyc
__pycache__/gabor_features.cpython-38.pyc
__pycache__/lbp_feature_extractor.cpython-38.pyc
__pycache__/processing.cpython-38.pyc
__pycache__/triangle.cpython-38.pyc
Dataset_Handler/__pycache__/dataset_reader.cpython-38.pyc
Face_Detector/Viola_and_jones/__pycache__/Detector.cpython-38.pyc
Face_Detector/Viola_and_jones/__pycache__/Feature.cpython-38.pyc
Face_Detector/Viola_and_jones/__pycache__/Stage.cpython-38.pyc
Face_Detector/Viola_and_jones/__pycache__/Tree.cpython-38.pyc
